.archive-entry{
    .archive-entry-header{
        .date time{
            font-size: 14px;
            color: $sub-text;
        }
        .entry-title a{
            text-decoration: none;
            font-size: 16px;
            color: $heading;
        }
        .categories{
            color: $sub-text;
        }
    }
}

.entry{
    h1,h2,h3,h4,h5,h6{
        margin: 33px 0;
    }
    p{
        margin: 33px 0;
        font-size: 15px;
    }
}