.archive-entry{
    margin: 0 0 32px;
    .archive-entry-header{
        .date time{
            font-size: 14px;
            color: $sub-text;
            display: inline-block;
        }
        .entry-title a{
            text-decoration: none;
            font-size: 16px;
            color: $heading;
        }
        .categories{
            color: $sub-text;
            display: inline-block;
        }
    }
}

.entry{
    padding: 24px 16px;
    .entry-title{
        font-size: 30px;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 33px 0;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 26px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 22px;
    }
    h6{
        font-size: 20px;
    }
    p{
        margin: 33px 0;
        font-size: 16px;
        line-height: 1.6;
    }
    ul,ol{
        margin-inline-start: 16px;
        li{
            line-height: 1.6;
        }
    }
    hr{
        border: none;
        border-radius: 1px solid $sub-text;
        margin: 16px auto;
        width: 50%;
    }
    pre{
        padding: 16px;
        border-radius: 4px;
    }
    code{
        border-radius: 2px;
        padding: 0.25em;
    }
    table{
        width: 100%;
        th,td{
            padding: 0.45em;
        }
    }
    thead{
        th{
            background: #cdcdcd;
        }
    }
    tbody{
        td{
            background: $light-gray;
        }
        tr{
            &:nth-child(2n){
                background: #fff;
            }
        }
    }
}