{{ define "main" }} {{ range .Pages }}
<section class="archive-entry">
  <div class="archive-entry-header">
    <div class="date"><time>{{ .PublishDate.Format "2006/01/02" }}</time></div>
    <h1 class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  </div>
  <div class="categories">category</div>
  <a href="{{ .Permalink }}" class="entry-thumb-link">
    <div class="entry-thumb">
      {{ $eyecatch_image := findRE "<img.*?src=([^>]*)?>" .Content 1 }}
      {{ if ge (len $eyecatch_image ) 1 }}
      {{ range $eyecatch_image }}
      {{ . | safeHTML }}
      {{ end }}
      {{ else }}
      <img src="/images/eyecatch.jpg">
      {{ end}}</div>
  </a>
  <div class="entry-description">{{ .Description }}</div>
</section>
{{ end }} {{ end }}