header {
  .head__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 0;

    .siteTitle {
      font-size: 18px;
      font-weight: 400;
    }
    .navbar {
      li {
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }
  }
}
footer {
  .foot__inner {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
  }
  .in-content {
    .logo {
      font-size: 14px;
    }
    .caption {
      font-size: 12px;
    }
    .linkContainer {
      li {
        display: inline-block;
        margin: 0 8px 0 0;
        font-size: 14px;
      }
    }
  }
}
