#l-content {
  width: auto;
  margin: 0 16px;
  @include mq(md) {
    width: 1000px;
    margin: auto;
  }
}
.l-box{
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin: 0 0 40px;
  @include mq(){
    flex-flow: row wrap;
  }
}
  .l-grid {
    margin: 0 8px 0 0;
    padding: 8px 16px;

    .heading {
      margin: 0 0 16px;
      font-size: 16px;
      color: $heading;
    }
    p{
      line-height: 1.5;
    }
    li{
      line-height: 1.6;
      a{
        text-decoration: underline;
        color: $link;
      }
    }
  }
  .column-06 {
    width: calc(100% - 50%);
  }
  .column-04 {
    width: calc(100% - 70%);
  }


