.l-content{
    width: auto;
    margin: 0 16px;
    @include mq(){
        width: 1000px;
        margin: auto;
    }
}

.l-main__inner{
    display: flex;
    flex-flow: column;
    @include mq(){
        flex-flow: row wrap;
    }

    .l-grid{
        margin: 0 8px 0 0;
        padding: 8px 16px;

        .heading{
            font-size: 16px;
            color: $heading;
        }
    }
    .column-06{
        width: calc(100% - 50%);
    }
    .column-04{
        width: calc(100% - 70%);
    }
}