<footer>
  <div class="foot__inner">
    <div class="in-content">
      <div class="textContainer">
        <p class="logo">{{ .Site.Params.author }}</p>
        <p class="caption">is a designer based in Japan.</p>
      </div>
      <div class="linkContainer">
        {{ $page := .}}
        {{ range .Site.Menus.global_header.ByWeight }}
            {{ $active := false}}
            {{ $menu_page := $page.Site.GetPage .URL}}
            {{ if $menu_page }}
                {{ if eq $page $menu_page }}
                    {{ $active = true }}
                {{ else if and (eq $menu_page.IsHome false) ($menu_page.IsAncestor $page) }}
                    {{ $active = true }}
            {{ end }}
        {{end}}
        <li class="list-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{end}}
      </div>
    </div>
    <div class="out-content">
      <p class="copyright">
        <span>&copy;</span> {{now.Year}} {{ .Site.Params.copyright}}
      </p>
    </div>
  </div>
</footer>
