<header>
    <div class="head__inner">
        <h1><a href="/" class="siteTitle-link">{{ .Site.Title }}</a></h1>
        <nav class="navbar">
            <ul class="nav-list">
                {{ $page := .}}
                {{ range .Site.Menus.global_header.ByWeight }}
                    {{ $active := false}}
                    {{ $menu_page := $page.Site.GetPage .URL}}
                    {{ if $menu_page }}
                        {{ if eq $page $menu_page }}
                            {{ $active = true }}
                        {{ else if and (eq $menu_page.IsHome false) ($menu_page.IsAncestor $page) }}
                            {{ $active = true }}
                    {{ end }}
                {{end}}
                <li class="list-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{end}}
            </ul>
        </nav>
    </div>
</header>