<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>{{ block "title" . }}
    {{ .Site.Title }}
{{ end }}</title>
<meta name="description" content="The website is Portfolio of Haruka Ashiuchi, a designer based in Japan.">
<link rel="canonical" href="{{ .Permalink }}">
{{ $style := resources.Get "scss/style.scss" | toCss | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="shortcut icon" href="" type="image/x-icon">
</head>