<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
</head>
<body>
    <div id="wrapper">
        <div id="l-content">
            {{- partial "header.html" . -}}
            <div class="l-main">
                <div class="l-main__inner">
                <div class="l-grid column-06">
                    <div class="profile">
                        <h2 class="heading">Profile</h2>
                        <p class="lead">I'm a Designer for Web services and app focus on User experience and Interfaces.</p>
                    </div>
                </div>
                <div class="l-grid column-04">
                    <div class="profile-pic">
                       <img src="" alt="profile">
                    </div>
                </div>
                <div class="l-grid column-06">
                    <div class="interest">
                        <h2 class="heading">Research Field / Interest</h2>
                        <li>UX/UI</li>
                    </div>
                </div>
                <div class="l-grid column-06">
                    <div class="background">
                        <h2 class="heading">Background</h2>
                        <li>Living in Nishinomiya, Hyogo, Japan.</li>
                    </div>
                </div>
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </div>
</body>
</html>